.container {
  margin: auto;
  max-width: 600px;
  padding: 50px;
  font-family: sans-serif;
  border: 1px solid #eee;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 0;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
}